[submodule "ref-mask"]
	path = ref-mask
	url = https://github.com/atmajs/MaskJS
[submodule "ref-mask-binding"]
	path = ref-mask-binding
	url = https://github.com/atmajs/mask-binding
[submodule "ref-mask-j"]
	path = ref-mask-j
	url = https://github.com/atmajs/mask-j
[submodule "ref-mask-compo"]
	path = ref-mask-compo
	url = https://github.com/atmajs/mask-compo
